*.class
*.hpp.gch
*.pyc
/.gradle
/.idea/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/build
/cmake_install.cmake
/gradle/
/gradlew
/gradlew.bat
/html
/latex
/libffimock.dylib
/libmeasurementkit-jni.dylib
/local.properties
/mock
/mock-ffi
/venv
